/* 
h1 {
    color: red;
    background-color: yellowgreen;
    text-align: center;
    border: 10px black solid;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20 px;
}
*/
h1 {
    color:red;
}
